$dark-100:  hsl(0, 0%, 10%);
$dark-200: hsl(0, 0%, 25%);
$dark-300: hsl(0, 0%, 46%);
$dark-400: hsl(0, 0%, 83%);
$white: hsl(0, 0%, 100%);
$brown-200: hsl(23, 33%, 31%);
$brown-300: hsl(23, 33%, 50%);
$brown-400: hsl(15, 2%, 86%);
$teal: hsl(188, 43%, 49%);
